<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.slinguage">


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignLanguageRecognition"
        tools:targetApi="m">
        <activity android:name=".ui.home.education.EducationActivity" />
        <activity android:name=".ui.home.member.MemberActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.home.activity" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.splass.SplassNoLoginActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.splass.SplassScreenActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bangkit.slinguage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>